import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* ENTYPO */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  margin-right:7px;
  font-weight: normal;
}
/* COMMON */
* {
  box-sizing:border-box;
}
.tabs div! > .active {
  background:red!important;
}
html, body {
  height:100%;
  background: #eee;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  transition: all 0.5s ease;
}
a:link, a:visited, a:active {
  color:#2890E6;
  text-decoration:none;
}
footer a:hover {
  font-size:14px;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  position: relative;
}
h1:before {
content: "";
width: 70px;
height: 7px;
background: #2890E6;
position: absolute;
bottom: -10px;
}
h1 span {
color: #999;
}

/* LAYOUT */
.wrapper {
  width: 80%;
  height: 100%;
  background: #EEE;
  color: #333;
  margin: 0 auto;
  padding-top:30px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
/* PROJECT SUMMARY */

.psummary {
  width:100%;
  height:100px;
  float:left;
  border-top: 1px dotted #999;
  font-size:13px;
  margin-bottom: 40px;
}
.psummary p {
  line-height: 20px;
}
.psummary .psummary-left {
  width:30%;
  height:100%;
  float:left;
  padding:10px 20px;
  border-right: 1px dotted #999;
}
.psummary .psummary-left p:nth-child(odd){
  font-weight:bold;
}
.psummary .psummary-left p:nth-child(2n+2) {
  margin-left:23px;
}
.psummary .psummary-right {
  width:70%;
  height:100%;
  float:left;
  padding:10px 20px;
}
.psummary .progress {
  width: 70%;
  height: 20px;
  position:relative;
  background: #DDD;
  border-radius: 30px;
  padding: 3px;
}
.psummary .progress span {
  position:absolute;
  top:5px;
  right: -40px;
  font-weight:bold;
}
.psummary progress,
.psummary progress::-webkit-progress-bar {
  width: 100%;
  height: 100%;
  position:relative;
  background: #DDD;
  border-radius: 30px;
  overflow:hidden;
}
.psummary progress-value,
.psummary progress::-webkit-progress-value{
  background:#2890E6;
  position: relative;
  border-radius: 30px;
}
/* PROJECT CONTENT */
.pcontent-l {
  width: 70%;
  float:left;
  padding-right:10px;
}
.pcontent-r {
  width:30%;
  float:left;
  padding-left:10px;
}
.pcontent-r > div, .pcontent-l > div {
  margin:20px 0;
}
.pcontent-l h3, .pcontent-r h3 {
  font-size:11px;
  line-height:20px;
  letter-spacing:0.7px;
  background: #333;
  color: white;
  text-transform: uppercase;
  padding-left:15px; 
}
/* PROJECT INFO */

.pcontent-l .info {
  height:200px;
  position:relative;
  background:white;
  border-radius:5px;
  border-top: 10px solid #2890E6;
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}
.pcontent-l .tabs .active {
  background:#333!important;
}
.pcontent-l .tabs .active a {
  color:#2890E6!important;
}
.pcontent-l .info .tabs {
  width:100%;
  position: absolute;
  top:-25px;
  border-bottom: 20px solid #333;
}
.pcontent-l .info .tabs a:link, .pcontent-l .info .tabs a:visited, .pcontent-l .info .tabs a:active {
  color:white;
  text-decoration:none;
}
.pcontent-l .info .tabs a:hover {
  color:#2890E6;
  text-decoration:none;
}
.pcontent-l .info .tabs div {
  height:25px;
  line-height:25px;
  float: left;
  font-size: 11px;
  background: #4C4E4E;
  color: white;
  padding: 0 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right:1px;
}
.pcontent-l .info .tabgroup {
  padding: 30px 20px;
  font-size:13px;
}
/* CONVERSATION */

.pcontent-l .conversation {
  height:400px;
  background:white;
  border-radius:5px;
  border-top: 10px solid #2890E6;
  overflow:hidden;
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}
/* HISTORY */

.pcontent-r .history {
  height:400px;
  background:white;
  border-radius:5px;
  border-top: 10px solid #2890E6;
  overflow:hidden;
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}
/* TEAM */

.pcontent-r .team {
  height:200px;
  background:white;
  border-radius:5px;
  border-top: 10px solid #2890E6;
  overflow:hidden;
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}
footer {
  width:100%;
  height:50px;
  background:#333;
  overflow:hidden;
  border-top: 10px solid #2890E6;
}
footer > p {
  line-height:40px;
  vertical-align:middle;
  color: white;
  font-size:11px;
  text-align:center;
}
/* MEDIA QUERIES*/

@media screen and ( max-width: 800px ) {
  
.pcontent-l, .pcontent-r {
    width:100%;
    padding:0;
    margin:0;
}
.pcontent-r > div, .pcontent-l > div {
	margin: 0;
}
.pcontent-l .conversation,.pcontent-l .info,.pcontent-r .history,.pcontent-r .team {
    margin:0 0 10px 0!important;
}
}

td-subject{
	font-weight: bolder;
}

.table tbody tr:nth-child(odd){
    background: rgb(192, 185, 185);
}
a:hover{
  background: #2890E6;
  color: snow;
}