<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="../static/css/admin_dashboard.css" rel="stylesheet" type="text/css" media="all" th:href="@{/css/admin_dashboard.css}"/>
	<script
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
		crossorigin="anonymous"></script>
		<script type="text/javascript">
		$(function () {
			$("#createAccount").click(function () {
			window.location.href = "/register";
			});
		});
		</script>
	<title>Document</title>
</head>
<body><br>
	<h1 style="text-align: center;">Admin descritpion and responsibilites</h1><br>
	<div class="text-center d-flex" style="text-align: center; justify-content: center;align-items: center;">
		<h4 class="text-center " style="text-align: center; max-width: 1000px; justify-content: center;align-items: center;">The role of administrator involves a great deal of multitasking. 
			You will work with teams, oversee the operations within your company, manage groups, 
			coordinate with management and engage in planning according to the needs of your company.
			If there are office resource or administrative issues, you will be the 
			person expected to deal with them.
		</h4>
	</div><br><br>
	<div class="container-fluid">
		<div class="dashboard py-4">
		  <div class="row">
			<div class="col-lg-3">
			  <div class="card shadow-sm rounded-0">
				<div class="card-body text-center">
				  <i class="fab fa-foursquare"></i>
				  <a th:href="@{/register}" id="createAccount"><h3>Add user</h3></a>
				</div>
			  </div>
			</div>
			<div class="col-lg-3">
			  <div class="card shadow-sm rounded-0">
				<div class="card-body text-center">
				  <i class="fas fa-draw-polygon"></i>
				  <a th:href="@{'/view_users/' + ${user.id}}"><h3>Get Users</h3></a>
				</div>
			  </div>
			</div>
			<div class="col-lg-3">
			  <div class="card shadow-sm rounded-0">
				<div class="card-body text-center">
				  <i class="fab fa-cuttlefish"></i>
				  <a href="#"><h3>Update User</h3></a>
				</div>
			  </div>
			</div>
			<div class="col-lg-3">
			  <div class="card shadow-sm rounded-0">
				<div class="card-body text-center">
				  <i class="fab fa-weebly"></i>
				  <a href="#"><h3>Delete User</h3></a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</body>
</html>