<!DOCTYPE html>
<html xmlns:th="htttp://thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <title>Teacher dashboard</title>
  <link href="../static/css/teacher_style.css" rel="stylesheet" type="text/css" media="all" th:href="@{/css/teacher_style.css}"/> 
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/2f51b7b36e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="../static/javascript/teacher_dashboard.js" type="text/javascript" th:src="|/javascript/teacher_dashboard.js|"></script>
</head>
<body>
  <div class="headShow">
    <h3>Teacher Dashboard</h3>
  </div>
  <div class="di-flex">
    <div class="first-column">
      <div class="myMenuItem"id="shtoLende"><a href="/add_thiesis" style="text-decoration:none;"><i class="fas fa-plus-square fa-lg"></i></i>Dashboard</a></div >
      <div class="myMenuItem"id="shtoLende"><a href="/add_thiesis" style="text-decoration:none;"><i class="fas fa-plus-square fa-lg"></i></i>Shto teze </a></div >
      <div class="myMenuItem"id="shtoLende"><a href="/add_thiesis" style="text-decoration:none;"><i class="fas fa-plus-square fa-lg"></i></i>Hiq teze </a></div >
      <div class="myMenuItem"id="shtoLende"><a href="/add_thiesis" style="text-decoration:none;"><i class="fas fa-plus-square fa-lg"></i></i>Shto lende </a></div >
      <div class="myMenuItem"id="shtoLende"><a href="/add_thiesis" style="text-decoration:none;"><i class="fas fa-plus-square fa-lg"></i></i>Hiq Lende </a></div >
    </div>
    <div class="second-column">
      <div class="block-for-second-column" id="secondColumn"></div>
    </div>
    
  </div>
</body>

</html>